@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

:root {
  --background: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}
* {
  font-family: "PT Sans", sans-serif;
  margin: 0 0;
}
body {
  background-color: var(--background);
  color: #fff;
  height: 100%;
  width: 100%;
}
header {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  justify-items: center;
  margin: 30px 0px;
  align-items: center;
}

/* LOGO APRESENTATION */
#main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-text .logo {
  font-size: 4rem;
}
.purple-logo {
  color: var(--background);
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

/* LINK and BUTTON DECORATION */
a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
a:hover {
  opacity: 0.8;
}
.link-cafe {
  border: 1px solid #8257e5;
  border-radius: 10%;
  padding: 10px 10px;
}
button {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1;
}
/* LINK and BUTTON DECORATION */
.background-image {
  position: absolute;
  z-index: -1;
}
#coffee {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  align-self: center;
}
#blur-1 {
  bottom: 0;
}
#blur-2 {
  height: 100vh;
  top: 0;
  right: 0;
}
/* EXCLUSIVE IN MOBILE */
.exmobile {
  display: none;
}

@media only screen and (max-width: 1170px) {
  header {
    grid-template-columns: 50% 50%;
  }
  .nomobile {
    display: none;
  }
  .exmobile {
    display: block;
  }
  nav,
  .link-cafe {
    display: none;
  }
  #close-menu-button {
    display: none;
  }

  #coffee {
    max-width: 500px;
  }
  #blur-mobile {
    align-self: center;
    height: 100vh;
    width: 100vw;
    bottom: 0;
  }
}
@media only screen and (max-width: 500px) {
  #main-text .logo {
    font-size: 3.5rem;
  }
  #coffee {
    max-width: 300px;
  }
}

#dropdown {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;
  background-color: #000;
}
#dropdown-nav {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
#dropdown-nav a {
  margin: auto 0;
}
